body {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-template-rows: repeat(2, 200px);
	gap: 5px;
	background-color: #cdc1c1;
}

.container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.img {
	margin: 5px;
	padding: 10px;
	background-color: #7adee1;
}